@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: theme('colors.zinc.900');
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



@font-face {
    font-family: 'Alagard';
    font-style: normal;
    font-weight: 400;
    src: url('/minesweeper/fonts/alagard.ttf') format('truetype');

    font-smooth: never;
    -webkit-font-smoothing: none;
    text-rendering: geometricPrecision;

    font-display: swap;
}

@font-face {
    font-family: 'Pixel Sans Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/minesweeper/fonts/Pixel Sans Serif.ttf') format('truetype');

    font-smooth: never;
    -webkit-font-smoothing: none;
    text-rendering: geometricPrecision;

    font-display: swap;
}

.font-alagard {
    font-family: 'Alagard';
}

.font-pixelsans {
    font-family: 'Pixel Sans Serif';
}


